<h2>Login </h2>

<span id="brand">
  <strong>Test</strong>Angular
</span>

<form class="mid-form" #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="imgcontainer">
    <img src="../../../assets/images/user_icon.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <input type="text" placeholder="Enter Username" name="username" #username="ngModel" [(ngModel)]="login.username"  required>
    <div *ngIf="username.errors && (username.dirty || username.touched)">
      <p class="text-danger" [hidden]="!username.errors?.['required']">Required field</p>
    </div>
    <input type="password" placeholder="Enter Password" name="password" #password="ngModel" [(ngModel)]="login.password"  required>
    <div *ngIf="password.errors && (password.dirty || password.touched)">
      <p class="text-danger" [hidden]="!password.errors?.['required']">Required field</p>
    </div>
    <button class="btn-login" type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>
